/**app.wxss**/
@import './pages/colorUi/main.wxss';
@import './pages/colorUi/icon.wxss';
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
} 
